/* ################# */
/* Table of Contents */
/* ################# */

/* 
I   - VARS
II  - RESET
III - UTILITIES
IV  - MAIN
V   - MEDIA QUERIES
VI  - FOOTER
*/

/* ########## */
/*    VARS    */
/* #########" */

:root {
  /* Primary */
  --clr-dark-gray-blue: hsl(217, 19%, 35%);
  --clr-gray-blue: hsl(212, 23%, 69%);
  --clr-desat-blue: hsl(214, 17%, 51%);
  --clr-light-gray-blue: hsl(210, 46%, 95%);
  /* Neutral */
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);

  /* Typography */
  --ff-sans-normal: "Manrope", sans-serif;
  --fs-900: 3rem;
  --fs-800: 2.25rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.225rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.5rem;
  /* utilities */
  --border-rad: 1rem;
  --line-height: 1.5;
}

/* ########## */
/*    RESET   */
/* #########" */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture,
.App {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-size: var(--fs-400);
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400, 1.125rem);
  color: var(--clr-black, black);
  background-color: var(--clr-light-gray-blue);
  line-height: var(--line-height);
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button {
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ######### */
/* UTILITIES */
/* ######### */

/* General utils */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 1em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Background and text color */

.bg-white {
  background-color: var(--clr-white);
}

.text-white {
  color: var(--clr-white);
}

.text-dark {
  color: var(--clr-dark-gray-blue);
}

.text-accent {
  color: var(--clr-desat-blue);
}

.text-light {
  color: var(--clr-gray-blue);
}

/* Font family */

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

/* Font sizes */

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

/* ########## */
/*    Main    */
/* #########" */

.body {
  align-items: center;
  justify-content: center;
}

.main {
  width: 90%;
  min-width: 300px;
  max-width: 375px;
  padding-inline: 0;
  border-radius: var(--border-rad);
  flex-direction: column;
}

.drawers {
  border-top-left-radius: var(--border-rad);
  border-top-right-radius: var(--border-rad);
}

.section-main {
  margin: 1em 0;
  padding-inline: 1em;
}

.h1-main {
  font-weight: 700;
  font-size: var(--fs-300);
  padding: 0.5em 1em;
}

.p-body {
  padding: 0.5em 1em;
}

.section-michelle {
  margin: 1em 0;
  padding-inline: 1em;
  position: relative;
  align-items: center;
}

.michelle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 1em;
}

.h1-michelle {
  font-weight: 700;
}

.h1-michelle,
.p-michelle {
  padding: 0 0.5em;
}

.btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.div-btn {
  margin-left: auto;
}

.btn {
  margin-right: 1.5em;
  position: relative;
  z-index: 1000;
}

.btn:active {
  transform: scale(1.2);
}

.share {
  position: absolute;
  bottom: 10px;
  right: 7px;
}

.share-active {
  background-color: var(--clr-dark-gray-blue);
  position: absolute;
  justify-content: flex-start;
  padding-left: 2em;
  align-items: center;
  color: var(--clr-gray-blue);
  letter-spacing: 0.225rem;

  width: 100%;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* ############# */
/* Media Queries */
/* ############# */

@media screen and (max-width: 875px) {
  .drawers {
    max-height: 14rem;
    width: 100%;
  }

  .share-active {
    left: 0;
    bottom: -1em;
    height: 5rem;
  }
}

@media screen and (min-width: 875px) {
  .main {
    flex-direction: row;
    max-width: 45.8rem;
  }

  .drawers {
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--border-rad);
    max-width: 18rem;
    object-fit: cover;
    object-position: left;
  }

  .h1-main {
    font-size: var(--fs-500);
  }

  .share-active {
    width: 15.4rem;
    height: 3rem;
    border-radius: 0.6rem;
    bottom: 4rem;
    right: -4.1rem;
  }

  .share-icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }

  #triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid var(--clr-dark-gray-blue);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 100%;
    left: 45%;
  }
}

/* ########## */
/*   FOOTER   */
/* #########" */

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
